<%- include('./partials/header') %>

<a href="/watchlist">Watchlist</a>
<h1>Search</h1>

<form action="/search" method="GET">
    <input type="text" name="coinId" placeholder="Enter a Coin Id">
    <button type="submit">Go!</button>
</form>

<!-- show error if any -->
<% if (error) { %>
    <p><%= error %></p>
<% } %>

<!-- show coin info -->
<% if (coin) { %>
    <h2><%= coin.name %></h2>
    <p>Current price: <%= coin.current_price %></p>
       <form action="/watchlist" method="POST">
        <input type="hidden" name="coinId" value="<%= coin.id %>">
        <button type="submit">Add to watchlist</button>
        </form>
<% } %>

<%- include('./partials/footer') %>
