<%- include('./partials/header') %>

<a href="/watchlist" class="watchlist-link">WATCHLIST</a>

<h1>Search</h1>

<p class="name">Welcome <%= user.name %></p>


<div class="form-container">
<form action="/search" method="GET">
    <input type="text" name="coinId" placeholder="Enter a Coin Name">
   <div class= button>
    <button type="submit">Go!</button>
<div>
</form>
</div>

<% if (error) { %>
    <p><%= error %></p>
<% } %>


<% if (coin) { %>
   <div class="coin-data">
    <h2><%= coin.name %></h2>
    <p>Current price: <%= coin.current_price %> USD</p>
    <img src="<%= coin.image %>" alt="">
</div>
       <form action="/search" method="POST">
        <input type="hidden" name="coinId" value="<%= coin.id %>">
        <button type="submit">Add to watchlist</button>
        </form>
<% } %>


<%- include('./partials/footer') %>