<%- include('./partials/header') %>

<a href="/watchlist">Watchlist</a>
<h1>Search</h1>

<p>Welcome <%= user.name %></p>



<form action="/search" method="GET">
    <input type="text" name="coinId" placeholder="Enter a Coin Id">
    <button type="submit">Go!</button>
</form>


<% if (error) { %>
    <p><%= error %></p>
<% } %>


<% if (coin) { %>
    <h2><%= coin.name %></h2>
    <p>Current price: <%= coin.current_price %></p>
    <img src="<%= coin.image %>" alt="">

       <form action="/search" method="POST">
        <input type="hidden" name="coinId" value="<%= coin.id %>">
        <button type="submit">Add to watchlist</button>
        </form>
<% } %>


<%- include('./partials/footer') %>