<%- include('./partials/header') %>

<a href="/search">Home</a>
<h1>Watchlist</h1>

<% if (coins && coins.length) { %>
  <% coins.forEach(coin => { %>
    <div>
      <h2><%= coin.name %></h2>
      <p>Current price: <%= coin.current_price %></p>
      <img src="<%= coin.image %>" alt="">  
     

      <form action="/watchlist/<%= coin._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>

    
      <form action="/watchlist/<%= coin._id %>/update?_method=PUT" method="POST">
        <button type="submit">Update Price</button>
     
    </form>
    </div>
  <% }); %>
<% } else { %>
  <p>No coins on watchlist yet</p>
<% } %>

<%- include('./partials/footer') %>
